@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    opacity: 1;
  }
  20%,
  22%,
  24%,
  55% {
    opacity: 0.9;
  }
}

body {
  background-color: #0f0f0f;
  color: #f0f0f0;
  font-family: "Segoe UI", sans-serif;
  /* text-shadow: 0 0 1px #badaff, 0 0 2px #bddcff; */
  animation: flicker 0.15s infinite;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: repeating-linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0px,
    rgba(0, 0, 0, 0) 1px,
    rgba(0, 0, 0, 0.05) 2px,
    rgba(0, 0, 0, 0.05) 3px
  );
  z-index: 9999;
  mix-blend-mode: multiply;
}

nav.navbar {
  background-color: #121212;
}

.navbar-brand {
  font-family: "Electrolize";
  font-weight: bold;
  color: #134d52;
}

.navbar-nav .nav-link {
  color: #f0f0f0;
  font-size: 1.4rem;
}

.hero {
  padding: 100px 0px;
  background: linear-gradient(135deg, #000000, #363636);
  text-align: center;
  position: relative;
  height: 30vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  font-family: "Rubik Glitch";
  text-shadow: 0 0 1px rgba(58, 163, 158, 0.5), 0 0 2px rgba(49, 177, 170, 0.5);
  font-size: 6rem;
  color: #3aa39e;
}

.hero p {
  color: #bbb;
  font-family: "Jura";
}

#tv-static-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  opacity: 0.08; /* subtle overlay */
}
.portfolio-section {
  padding: 60px 20px;
}

.card {
  background-color: #1e1e1e;
  border: none;
}

.card-title {
  text-shadow: 0 0 1px rgba(58, 163, 158, 0.5), 0 0 2px rgba(49, 177, 170, 0.5);
  color: #3aa39e;
}

.card-body p {
  font-family: "Jura";
  color: #6e6e6e;
}

.featured-text {
  font-family: "Electrolize";
}

footer {
  text-align: center;
  padding: 30px 0;
  background-color: #121212;
  color: #777;
}

a:hover {
  color: #34b8b1 !important;
}

audio {
  width: 100%;
  margin-top: 0.5rem;
}

.wyze-logo {
  box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.35);
  -o-box-shadow: -3px 3px 5 pxrgba(0, 0, 0, 0.35);
  border-radius: 50%;
}

.wyze-logo:hover {
  transform: scale(1.2);
}

#about {
  font-family: "Electrolize";
  text-shadow: 2px 2px 3px rgb(22, 22, 22);
}

#contact {
  font-family: "Electrolize";
}

.email-add {
  color: #3aa39e;
  text-shadow: 0 0 1px rgba(58, 163, 158, 0.5), 0 0 2px rgba(49, 177, 170, 0.5);
}

.fa {
  width: 50px;
  color: #3aa39e;
  text-shadow: 0 0 1px rgba(58, 163, 158, 0.5), 0 0 2px rgba(49, 177, 170, 0.5);
  padding-bottom: 2em;
}

@media (max-width: 992px) {
  .hero h1 {
    font-size: 5.5rem;
  }
  .navbar-nav .nav-link {
    color: #f0f0f0;
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 5rem;
  }
  .navbar-nav .nav-link {
    color: #f0f0f0;
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .hero h1 {
    font-size: 3.75rem;
  }
}
