:root {
  --primary-color: #f0f0f0;
  --primary-background-color: #0f0f0f;
  --secondary-color: #00337c;
  --secondary-background-color: #121212;
  --highlight-color: #03b2c9;
  --secondary-highlight-color: #1c82ad;
  --accent-color: #7c7e86;
  --glow-color: #16c47f;
  --border-radius: 1rem;
}

@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    opacity: 1;
  }
  20%,
  22%,
  24%,
  55% {
    opacity: 0.9;
  }
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-color);
  font-family: "Segoe UI", sans-serif;
  /* text-shadow: 0 0 1px #badaff, 0 0 2px #bddcff; */
  animation: flicker 0.15s infinite;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: repeating-linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0px,
    rgba(0, 0, 0, 0) 1px,
    rgba(0, 0, 0, 0.05) 2px,
    rgba(0, 0, 0, 0.05) 3px
  );
  z-index: 9999;
  mix-blend-mode: multiply;
}

nav.navbar {
  background: #999999;
  background: radial-gradient(
    circle,
    rgb(80, 80, 80) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.navbar-brand {
  font-family: "Electrolize";
  font-weight: bold;
  color: var(--secondary-highlight-color);
}

.navbar-nav .nav-link {
  color: var(--primary-color);
  font-size: 1.4rem;
}

.navbar-nav .nav-link.active {
  color: var(--secondary-highlight-color);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(200,200,200,0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler:hover,
.navbar-toggler:focus {
  border-color: #3aa39e;
  box-shadow: 0 0 8px #3aa39e;
}

.navbar-toggler {
  padding: 0.6rem 1rem;
  border: 1px solid var(--accent-color);
}

.hero {
  padding: 100px 0px;
  background: linear-gradient(135deg, #000000, #363636);
  text-align: center;
  position: relative;
  height: 30vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  font-family: "Rubik Glitch";
  text-shadow: 0 0 1px rgba(56, 65, 157, 0.5), 0 0 2px rgba(40, 56, 227, 0.5);
  font-size: 6rem;
  color: var(--secondary-highlight-color);
}

.hero p {
  color: #bbb;
  font-family: "Jura";
}

#tv-static-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  opacity: 0.12; /* subtle overlay originally .08 changed to .12 */
}

.share-content {
  margin-top: 1rem;
  padding-right: 6px;
}

.portfolio-section {
  padding: 60px 20px;
}

.card {
  background-color: #1e1e1e;
  border: none;
  display: inline;
}

.card-title {
  text-shadow: 0 0 1px rgba(58, 163, 158, 0.5), 0 0 2px rgba(49, 177, 170, 0.5);
  color: var(--secondary-highlight-color);
}
.card-body {
  background: linear-gradient(rgb(65, 65, 65) 0%, rgb(32, 32, 32) 51%);
  border-radius: 10px;
  box-shadow: rgba(0, 215, 255, 0.3) 5px 5px, rgba(0, 215, 255, 0.2) 10px 10px,
    rgba(0, 215, 255, 0.1) 15px 15px, rgba(0, 215, 255, 0.05) 20px 20px,
    rgba(0, 215, 255, 0.025) 25px 25px;
}

.card-body p {
  font-family: "Jura";
  color: #6e6e6e;
}

.featured-text {
  font-family: "Electrolize";
}

footer {
  text-align: center;
  padding: 30px 0;
  background-color: var(--secondary-background-color);
  color: #777;
}

a:hover {
  color: var(--highlight-color) !important;
}

.share-btn:hover {
  transform: scale(1.2);
}

audio {
  width: 100%;
  margin-top: 0.5rem;
}

.wyze-logo {
  box-shadow: -3px 3px 7px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: -3px 3px 7px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: -3px 3px 7px rgba(0, 0, 0, 0.35);
  -o-box-shadow: -3px 3px 7px rgba(0, 0, 0, 0.35);
  border-radius: 50%;
}

.wyze-logo:hover {
  transform: scale(1.2);
}

#about {
  font-family: "Electrolize";
  text-shadow: 2px 2px 3px rgb(22, 22, 22);
}

#contact {
  font-family: "Electrolize";
}

.email-add {
  color: var(--secondary-highlight-color);
  text-shadow: 0 0 1px rgba(58, 163, 158, 0.5), 0 0 2px rgba(49, 177, 170, 0.5);
}

.fa {
  width: 50px;
  color: var(--secondary-highlight-color);
  text-shadow: 0 0 1px rgba(58, 163, 158, 0.5), 0 0 2px rgba(49, 177, 170, 0.5);
  padding-bottom: 2em;
}

.library-page-title {
  font-family: "Electrolize";
}

.genre-title {
  color: var(--accent-color);
  font-family: "Jura";
  text-shadow: 0 0 1px rgba(10, 85, 184, 0.5), 0 0 2px rgba(76, 180, 250, 0.5);
}

.playlist {
  max-width: 800px;
  margin: auto;
  padding: 40px 20px;
}

.track-card {
  background: #212121;
  background: linear-gradient(rgb(65, 65, 65) 0%, rgb(32, 32, 32) 51%);
  box-shadow: rgba(0, 215, 255, 0.3) 5px 5px, rgba(0, 215, 255, 0.2) 10px 10px,
    rgba(0, 215, 255, 0.1) 15px 15px, rgba(0, 215, 255, 0.05) 20px 20px,
    rgba(0, 215, 255, 0.025) 25px 25px;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inner-border {
  border: 1px solid rgba(59, 59, 59, 0.55);
  background: linear-gradient(rgb(26, 25, 25) 0%, rgb(44, 44, 44) 50%);
  height: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
}

.volume-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 25%;
  height: 4px;
  border-radius: 2px;
  background: linear-gradient(to right, #5c5b5b 100%, #2c2c2c 0%);
  transition: background 0.2s ease;
  outline: none;
}

.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--highlight-color);
  cursor: pointer;
  border: none;
}

.volume-slider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--highlight-color);
  cursor: pointer;
  border: none;
}

.track-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.volume-controls {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 8px;
}

.volume-slider {
  height: 4px;
  border-radius: 2px;
  background: #1e1e1e;
  outline: none;
  transition: background 0.3s ease;
}

.mute-btn {
  background: none;
  border: none;
  color: var(--accent-color);
  font-size: 1.2rem;
  margin-top: 2px;
  cursor: pointer;
}

.mute-btn:hover {
  color: #fff;
}

.track-title {
  font-size: 1.25rem;
  text-align: right;
  margin-left: 1rem;
  font-family: "Electrolize";
  color: #ffffff;
}

.btn-play {
  background: none;
  border: none;
  color: var(--highlight-color);
  font-size: 1.5rem;
  background: none;
  padding: 6px 16px;
  border-radius: 40%;
  cursor: pointer;
  transition: color 0.3s ease;
}

.btn-play i {
  display: inline-block;
  transition: transform 0.5s ease;
  transform-style: preserve-3d;
}

.btn-play.flipped i {
  transform: rotateY(180deg);
  /* text-shadow: 0 0 8px #00ffe1, 0 0 16px #ff007c; */
}

.btn-play:hover {
  background-color: #2c2c2c;
  color: var(--secondary-highlight-color);
}

.btn-play i {
  pointer-events: none;
}

#waveform-container > div {
  margin-bottom: 15px;
}

/* Featured Tracks Begin */
#waveform_never-stop {
  margin-bottom: 15px;
}

#waveform_the-journey {
  margin-bottom: 15px;
}

#waveform_neverending-story {
  margin-bottom: 15px;
}
/* Featured Tracks End */

@media (max-width: 992px) {
  .hero h1 {
    font-size: 5.5rem;
  }
  .navbar-nav .nav-link {
    color: #f0f0f0;
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 5rem;
  }
  .navbar-nav .nav-link {
    color: #f0f0f0;
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .hero h1 {
    font-size: 3.75rem;
  }
  .track-title {
    font-size: 0.85rem;
  }
}
